#*.png
#*.jar

out/sql-assistant

# Ignore Idea's project files
#*.iml
#antl_patch/antl_patch.iml
#commons/commons.iml
#database/database.iml
#db_browser/db_browser.iml
#main/main.iml
#parser/parser.iml
#plugin_runner/plugin_runner.iml
#qa_accessory/qa_accessory.iml
#resolver/resolver.iml
#result_panel/result_panel.iml
#spec_src/spec_src.iml
#sql_assistant.iml
#tools/tools.iml


antl_patch/target
commons/target
database/target
db_browser/target
main/target
parser/target
resolver/target
result_panel/target
tools/target
target
tools/PLSqlParserAdoptedExt.java
annotationProcessors/target
annotations/target
completion/target

build_dir


