
# classes
sqlassistant-plugin9/SqlAssistantPlugin/classes/*
sqlassistant-plugin9/SqlAssistantPlugin/build-classes/
sqlassistant-plugin9/SqlAssistantPlugin/build
sqlassistant-plugin9/idea-9-lib/
sqlassistant-plugin10/idea-10-lib/
sqlassistant-plugin10/SqlAssistantPlugin/build
sqlassistant-plugin10/SqlAssistantPlugin/classes/
[2~[2~sqlassistant-plugin11/SqlAssistantPlugin/classes/
